.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.for-merge.json
node_modules/
.next/
out/
dist/
.env
.env.local
.env.*.local
coverage/

docker/data/sing-box/certs/hy2.crt
docker/data/sing-box/certs/hy2.key
docker/data/sing-box/config.json
