AUTH_JWT_SECRET=

AUTH_COOKIE_NAME=sbui_session

AUTH_DEMO_EMAIL=
AUTH_DEMO_PASSWORD=

SINGBOX_CONFIG_PATH=/etc/sing-box/config.json

NEXT_PUBLIC_HOST_IP=123.12.12.4

SINGBOX_CERTS_DIR=/etc/sing-box/certs/
NEXT_PUBLIC_SINGBOX_CERTS_DIR=/etc/sing-box/certs/
