AUTH_JWT_SECRET=e7SeERXgDRm56NiFugbmVlbhcYn9foNi

AUTH_COOKIE_NAME=sbui_session

AUTH_DEMO_EMAIL=admin@example.com
AUTH_DEMO_PASSWORD=admin12345

SINGBOX_DRAFT_CONFIG_PATH=/etc/sing-box/config.draft.json
SINGBOX_CONFIG_PATH=/etc/sing-box/config.json

NEXT_PUBLIC_HOST_IP=192.168.1.66

SINGBOX_CERTS_DIR=/etc/sing-box/certs/
NEXT_PUBLIC_SINGBOX_CERTS_DIR=/etc/sing-box/certs/

SINGBOX_CONTAINER_NAME=sing-box
USE_HTTPS=false

SQLITE_DB_PATH=/data/app.db
